<header>
  <app-header></app-header>
  <main>
    <!-- This creates list of users then receives selected user upon click event -->
    <ul id="users">
      @for (user of users; track user.id) {
      <!-- when userSelected event triggers call onSelectUser, $event is an object representing the event with the event detail. -->
      <li>
        <app-user
          [user]="user"
          [selected]="user.id === selectedUserId"
          (userSelected)="onSelectUser($event)"
        ></app-user>
      </li>
      }
    </ul>
    @if(selectedUser) {
    <app-tasks
      [userId]="selectedUser.id"
      [name]="selectedUser.name"
    ></app-tasks>
    } @else {
    <p id="fallback">Select a user</p>
    }
  </main>
</header>
